<html>
    <head>
        <meta charset="utf-8">
        <title>Form</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body>
        <h1>WELCOME TO RELATIVE</h1>
        <a href="{% url 'first_app:other' %}">THE OTHER PAGE</a>
        <a href="{% url 'admin:index' %]">ADMIN</a>
        <a href="{% url 'index' %}">INDEX</a>
    </body>
</html>